{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}">
    </head>
    <body>
        <div class="container">

            <h1>About this project</h1>

            <p>
                This project demonstrates an end-to-end CI/CD pipeline built using:
            </p>

            <ul>
                <li>Django</li>
                <li>Docker</li>
                <li>Jenkins</li>
                <li>AWS EC2</li>
                <li>GitHub Webhooks</li>
            </ul>
            <hr>
            <a href="/">Back to home</a>
        </div>
        
    </body>
</html>
